@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>@ViewData["Message"]</p>

<p>Student: @ViewData["Student"]</p>
<address>
    <strong>More Information: </strong><a href="https://github.com/EikkoMass/complete-course-csharp-udemy">GitHub</a>
</address>